@import "../core/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;

  text-align: center;

  img {
    width: 300px;

    @media (max-width: $sm-size) {
      width: 250px;
    }
  }

  h1 {
    margin: 1rem 0;
  }

  p {
    max-width: 300px;
  }

  button {
    margin-top: 2.3rem;
  }
}
