@import "../core/variables";
@import "../core/utilities";

.container {
  @extend .containerProps;

  flex-direction: column;
  height: 100vh;
  text-align: center;

  img {
    width: 300px;

    @media (max-width: $sm-size) {
      width: 250px;
    }
  }

  h1 {
    margin: 1rem 0;
  }

  p {
    max-width: 300px;
  }

  button {
    margin-top: 2.3rem;
  }
}
